* {
	padding:0;
	margin:0;
	font-family: 'Quicksand', sans-serif;
}
body {
	background-color: #f8f8f8;
}
a {
	color: inherit;
	text-decoration: none;
}
#bg-login {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
.box-login {
	width: 300px;
	min-height: 200px;
	border:1px solid #ccc;
	background-color: #fff;
	padding:15px;
	box-sizing: border-box;
}
.box-login h2 {
	text-align: center;
	margin-bottom: 15px;
}
.input-control {
	width:100%;
	padding:10px;
	margin-bottom: 15px;
	box-sizing: border-box;
}
.btn {
	padding:8px 15px;
	background-color: #78E7B7;
	color: rgb(0, 0, 0);
	border:none;
	cursor: pointer;
}
header {
	background-color: #78E7B7;
	color: rgb(0, 0, 0);
}

header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header h1 {
	float: left;
	padding:10px 0;
}

header ul {
	display: flex;

}

header ul li {
	text-decoration: none;
	list-style: none;
	margin-right: 20px;
}

header .product-btn {
	padding:10px 20px 10px 20px;
	display: inline-block;
	border-width: 1px;
	border-color: #333;
	border-style: solid;
	border-radius: 5px;
	text-align: center;
	transition: 0.3s;
}

header .product-btn:hover {
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}


footer {
	padding:25px 0;
}

.container {
	width: 80%;
	margin:0 auto;
}
/* .container:after {
	content: '';
	display: block;
	clear: both;
} */

.section {
	padding:25px 0;
}
.box {
	background-color: #fff;
	border:1px solid #ccc;
	padding:15px;
	box-sizing: border-box;
	margin:10px 0 25px 0;
}
.box:after {
	content: '';
	display: block;
	clear: both;
}
.table {
	width: 100%;
	border-collapse: collapse;
}
.table tr {
	height: 30px;
}
.table tr td {
	padding:5px 10px;
}
.search {
	padding:15px 0;
	background-color: #fff;
	border:1px solid #ccc;
	text-align: center;
}
.search input[type=text] {
	width: 60%;
	padding:10px;
}
.search input[type=submit] {
	padding:12px 15px;
	background-color: #78E7B7;
	color:rgb(0, 0, 0);
	border:none;
	cursor: pointer;
}
.col-5 {
	width:20%;
	height:100px;
	text-align: center;
	float: left;
	padding:10px;
	box-sizing: border-box;
}
.col-4 {
	width:25%;
	height: 320px;
	border:1px solid #78E7B7;
	float: left;
	padding:10px;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.col-4:hover {
	box-shadow: 0 0 3px #999;
}
.col-4 img {
	width: 100%;
}
.col-4 .nama {
	color: #666;
	margin-bottom: 10px;
}
.col-4 .harga {
	font-weight: bold;
	color:#31D38D;
	float: right;
}
.footer {
	padding:25px 0;
	background-color: #333;
	color: #fff;
	text-align: center;
}
.footer p {
	margin-bottom: 10px;
}
.footer small {
	margin-top: 25px;
	display: inline-block;
}
.col-2 {
	width: 50%;
	min-height: 200px;
	padding:10px;
	box-sizing: border-box;
	float: left;
}
.col-2 img {
	border:1px solid #f9f9f9;
	padding:5px;
	box-sizing: border-box;
}
.col-2 h3 {
	margin-bottom: 10px;
}
.col-2 h4 {
	color: #78E7B7;
}
.col-2 p {
	margin:15px 0;
	text-align: justify;
	line-height: 25px;
	font-size:14px;
}


@media screen and (max-width: 768px){
	.container {
		width: 90%;
	}
	.col-5 {
		width:50%;
		margin-bottom: 10px;
	}
	.col-4 {
		width: 50%;
		height: 300px;
	}
	.col-2 {
		width:100%;
	}
}

